@CHARSET "UTF-8";


p{
vertical-align: left;
}

input{
height: 21px;
line-height: 21px;
color:green;

}

/*form {
max-width: 200px;
margin: 0;
padding: 0 5px;
vertical-align: middle;
}*/

/*input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}*/

/*input:invalid { background-color: pink; color: white; }
input:valid { background-color: white; color: black; }*/

#divForGraph{
float:bottom;
position:absolute;
right:0px;
width:800px;
background-color:#b0e0e6;
width:100%; 
height:100%; 
border:1px solid black;
}

span{
color:red;
font-size: 10pt;
}

#output{
color:blue;

}


